.bannerImg {
  padding-top: 4rem;  
}

.filterBtn {
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .5rem .5rem 1rem;
  margin: .2rem 1rem;
  border: 1px solid #e5e5e5;
}

.filterBtn > span {
  font-weight: 600;
}

.plusSign {
  color: #343a40;
  font-size: .9rem;
}

.minusSign{
  display: none;
}